# JetBrains IDEs
out/

## Dir-based project format:
.idea/

## File-based project format:
*.ipr
*.iws
*.iml

# Eclipse IDE
.metadata
bin/
tmp/
*.tmp
*.jar
*.bak
*.swp
*.class
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

## External tool builders
.externalToolBuilders/

#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
## https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
